.choices{
    list-style: none;
}
.wrapper {
    max-width: 500px;
        margin: 0 auto;
    }
    .choice{
        display: block;
        border: 1px solid #ebebeb;
        margin: 10px 0;
        padding: 13px;
        box-shadow: 0 3px 2px 2px #ebebeb; 
        cursor: pointer;
        font-weight: 600;
    }
.site_title{
    font-size: 19px;
}
.title{
    position: relative;
    /* text-decoration: underline;
    text-decoration-color: green; */
    font-size: 17px;
    line-height: 20px;
    font-weight: 600;
    /* display: inline-block;
    border-bottom: solid 4px green; */
}
.title::after{
    position: absolute;
    display: inline-block;
    width: 87pt;
    height: 2px;
    background-color: #00ab36;
    content: '';
    bottom: -10px;
    left: calc(13% - 55px);
}
.quiz-result{
    display: none;
    /* border: solid; */
    background-color: #f5f5f5;
    padding: 17px;
    width: 500px;

}
.button1{
    background-color: #287def;
    color: white;
}
.result-true{
    display: block;
}
.answer-title-true{
    font-size: 1pc;
    line-height: 20px;
    font-weight: 600;
    padding-bottom: 3px;
    margin-bottom: 10px;
    border-bottom: 3px solid #287dff;
    display: inline-block;
}
.button2{
    background-color: #ff5128;
    color: white;
}
.result-false{
    display: block;
}
.answer-title-false{
    font-size: 1pc;
    line-height: 20px;
    font-weight: 600;
    padding-bottom: 3px;
    margin-bottom: 10px;
    border-bottom: 3px solid #ff5128;
    display: inline-block;
}